@import url('font-awesome-4.7.0/css/font-awesome.css');
* {
  margin: 0;
  padding: 0;
  border: 0;
}
.trans {
  width: 300px;
  height: 300px;
  margin: 40px auto;
  outline: solid 1px black;
  position: relative;
}
.trans > div {
  position: absolute;
  width: 50%;
  height: 50%;
  left: 75px;
  top: 75px;
  margin: auto;
  transition: 1s;
  transform: perspective(900px) rotateY(45deg);
}
.trans > div:nth-child(1) {
  background-color: #9e246f;
}
.trans > div:nth-child(2) {
  background-color: #06435c;
  transform: perspective(900px) rotateY(45deg);
}
.trans:hover > div:nth-child(2) {
  transform: perspective(900px) rotateY(45deg) translateZ(200px);
}
.phone {
  width: 270px;
  height: 480px;
  margin: 40px auto;
  display: flex;
  flex-direction: column-reverse;
}
.phone > nav {
  flex: 1;
  height: fit-content;
  display: flex;
}
.phone > nav > a {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 1px 0px 1px 1px;
  border-color: darkblue;
  border-style: solid;
  border-collapse: collapse;
  font-weight: bold;
  text-decoration: none;
  color: white;
  background-color: #2F4F4F;
}
.phone > section {
  flex: 15;
  position: relative;
  background-color: #6495ED;
  overflow: hidden;
}
.phone > section > div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition: 1s;
}
.phone > section > div:target {
  transform: translateY(0);
}
.phone > section > div:nth-child(1) {
  background-color: green;
}
.phone > section > div:nth-child(2) {
  background-color: #FF7F50;
}
.phone > section > div:nth-child(3) {
  background-color: #7CFC00;
}
.phone > section > div:nth-child(4) {
  background-color: #483D8B;
}
.phone > section > div > i {
  color: white;
}
.cube {
  width: 300px;
  height: 300px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: perspective(9000px) rotateX(-20deg) rotateY(-20deg);
  transition: 1s;
}
.cube:hover {
  transform: perspective(9000px) rotateX(360deg) rotateY(60deg) rotateZ(20deg);
}
.cube div {
  position: absolute;
  width: 200px;
  height: 200px;
  font-size: large;
  background-color: #376ab8;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: solid 1px black;
  transform-origin: center center -100px;
  font-size: 4em;
  opacity: 0.8;
}
.cube div:nth-child(6) {
  background-color: green;
}
.cube div:nth-child(5) {
  background-color: blueviolet;
  transform: rotateX(180deg);
}
.cube div:nth-child(4) {
  background-color: brown;
  transform: rotateX(-90deg);
}
.cube div:nth-child(3) {
  background-color: #00a2ff;
  transform: rotateX(90deg);
}
.cube div:nth-child(2) {
  background-color: #06435c;
  transform: rotateY(90deg);
}
.cube div:nth-child(1) {
  background-color: rosybrown;
  transform: rotateY(-90deg);
}
.rec {
  width: 300px;
  height: 300px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: perspective(900px) rotateY(-20deg);
  transition: 5s;
}
.rec:hover {
  transform: perspective(900px) rotateX(-360deg) rotateY(-360deg) rotateZ(-360deg);
}
.rec div {
  outline: solid 1px black;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 4em;
  color: white;
  opacity: 0.8;
}
.rec div:nth-child(6) {
  width: 200px;
  height: 50px;
  background-color: green;
}
.rec div:nth-child(5) {
  width: 200px;
  height: 50px;
  transform-origin: center center -75px;
  transform: rotateX(180deg);
  background-color: blueviolet;
}
.rec div:nth-child(4) {
  width: 200px;
  height: 150px;
  background-color: brown;
  transform: rotateX(90deg) translate3d(0, -50%, 25px);
}
.rec div:nth-child(3) {
  width: 200px;
  height: 150px;
  background-color: #00a2ff;
  transform: rotateX(90deg) translate3d(0, -50%, -25px);
}
.rec div:nth-child(2) {
  width: 150px;
  height: 50px;
  background-color: #06435c;
  transform: rotateY(-90deg) translate3d(-50%, 0px, 100px);
}
.rec div:nth-child(1) {
  width: 150px;
  height: 50px;
  background-color: rosybrown;
  transform: rotateY(90deg) translate3d(50%, 0px, 100px);
}
.rec2 {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
  transform: perspective(900px) rotateY(-20deg);
  transform-style: preserve-3d;
  transition: 1s;
}
.rec2 div {
  font-size: 3em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 0.8;
}
.rec2 div:nth-child(6) {
  width: 200px;
  height: 50px;
  background-color: blue;
}
.rec2 div:nth-child(5) {
  width: 200px;
  height: 50px;
  background-color: orange;
  transform: rotateY(180deg) translate3d(0, 0, 150px);
}
.rec2 div:nth-child(4) {
  width: 150px;
  height: 50px;
  background-color: green;
  transform-origin: left;
  transform: rotateY(90deg);
}
.rec2 div:nth-child(3) {
  width: 150px;
  height: 50px;
  background-color: lightblue;
  transform-origin: right;
  transform: translate(50px, 0px) rotateY(-90deg);
}
.rec2 div:nth-child(2) {
  width: 200px;
  height: 150px;
  background-color: #330ca0;
  transform-origin: top;
  transform: rotateX(-90deg);
}
.rec2 div:nth-child(1) {
  width: 200px;
  height: 150px;
  background-color: green;
  transform-origin: top;
  transform: translate(0px, 50px) rotateX(-90deg);
}
.rec2:hover {
  transform: perspective(900px) rotateX(-360deg) rotateY(-360deg) rotateZ(-360deg);
}
