* {
  margin: 0;
  padding: 0;
  border: 0;
}
article {
  width: 900px;
  height: 900px;
  margin: 40px auto;
}
article:nth-child(1) {
  background-color: burlywood;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  outline: solid 1px black;
  grid-gap: 1px;
  grid-auto-flow: column dense;
  grid-template-areas: 'a . b' 'c d e' 'f g h';
}
article:nth-child(1) p {
  display: flex;
  align-items: center;
  justify-content: center;
}
article:nth-child(1) p:nth-child(3n) {
  background-color: orangered;
}
article:nth-child(1) p:nth-child(3n+1) {
  background-color: orchid;
}
article:nth-child(1) p:nth-child(3n+2) {
  background-color: green;
}
article:nth-child(2) {
  display: grid;
  width: calc(5 * 60px);
  height: calc(5 * 60px);
  padding: 60px;
  border-radius: 50%;
  box-shadow: 20px 20px 20px #bdbdbd;
  background: white;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: ".  g  g  g  . " "o_ .  .  .  . " "o  .  e  e  . " "o  .  .  .  l " ".  g_ g_ g_ . ";
}
article:nth-child(2):hover {
  -webkit-transform: translate(20px, 20px);
  -ms-transform: translate(20px, 20px);
  transform: translate(20px, 20px);
  box-shadow: 0 0 0 #9e9e9e;
}
article:nth-child(2) .g {
  grid-area: g;
  background: #ea4335;
}
article:nth-child(2) .o_ {
  grid-area: o_;
  background: #ff9800;
}
article:nth-child(2) .o {
  grid-area: o;
  background: #fbbc05;
}
article:nth-child(2) .g_ {
  grid-area: g_;
  background: #34a853;
}
article:nth-child(2) .l {
  grid-area: l;
  background: #00bcd4;
}
article:nth-child(2) .e {
  grid-area: e;
  background: #4285f4;
}
article:nth-child(2) .x {
  grid-area: x;
  background: #9e9e9e;
}
article:nth-child(3) {
  width: calc(5 * 60px);
  height: calc(5 * 60px);
  padding: 60px;
  display: grid;
  transition: all 0.3s ease-out;
  box-shadow: 20px 20px 20px #bdbdbd;
  border-radius: 50%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: ".  a  a  a  . " "b .  .  .  . " "b  .  e  e  . " "b  .  .  .  d " ".  c  c  c  . ";
}
article:nth-child(3):hover {
  transform: translate(20px, 20px);
  box-shadow: 0 0 0 #9e9e9e;
}
article:nth-child(3) div {
  background-color: gray;
}
article:nth-child(3) .a {
  grid-area: a;
  background: #ea4335;
}
article:nth-child(3) .b {
  grid-area: b;
  background-color: #fbbc05;
}
article:nth-child(3) .c {
  grid-area: c;
  background: #34a853;
}
article:nth-child(3) .d {
  grid-area: d;
  background: #00bcd4;
}
article:nth-child(3) .e {
  grid-area: e;
  background-color: #4285f4;
}
