main {
  border: solid 1px red;
  padding: 4%;
  box-sizing: inherit;
}
main article {
  border: solid 1px blue;
  width: 38%;
  height: 300px;
  float: left;
}
main footer {
  border: solid 1px green;
  width: 58%;
  height: 300px;
  float: right;
}
main:after {
  content: "";
  display: block;
  clear: both;
}
